/* ESTILOS GENERALES */
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    background-color:#000;
    color: #fff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

#particles-js {
	height: 100vh; 
	width: 100%;
    position: fixed;
    z-index: -1;
}

.form-login {
    width: 300px;
    height: 400px;
    background: #101010;
    margin: auto;
    margin-top: 240px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
    font-family: sans-serif;
    border-radius: 5px;
}
  
  .form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-top:10px;
    margin-bottom: 35px;
    border-bottom: 1px solid;
    font-size: 20px;
  }
  
  .controls {
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 30px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
    color:#fff
  }
  
  .buttons {
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    color: #fff;
    margin-bottom: 16px;
  }
  .buttons:hover{
    background-color: #017bab;
    color:#101010;
    transition: .2s;
  }
  
  .form-login p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
  }
  
  .form-login a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  
  .form-login a:hover {
    text-decoration: underline;
  }

  
