* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#particles-js {
	height: 100vh; 
	width: 100%;
    position: fixed;
    z-index: -1;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color:#000;
}

.container-form {
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    transition:  all .5s ease-out;
    align-items: center;
}

.welcome-back {
    display: flex;
    align-items: center;
    text-align: center;
}

.message {
    padding: 1rem;
}

.message h2 {
    font-size: 1.7rem;
    padding: 1rem 0;
    color:#017bab;
}

.message button {
    padding: 1rem;
    font-weight: 400;
    background-color: #017bab;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .1s ease-in;
    color: #fff;
}

.message button:hover {
    background-color: #fff;
    color: #017bab;
}

.formulario {
    width: 400px;
    height: 650px;
    margin-top: 5px;
    background-color: #151515;
    text-align: center;
}

.create-account {
    padding: 2.7rem 0;
    font-size: 1.7rem;
}

.iconos {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.border-icon {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .1s ease-in;
}

.border-icon:hover {
    background-color: #017bab;
    cursor: pointer;
}

.cuenta-gratis {
    padding: 2rem 0;
}

.formulario input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: white;
}

.formulario input[type="submit"] {
    width: 60%;
    margin: auto;
    border: solid thin #017bab;
    padding: .7rem;
    border-radius: 2rem;
    background-color: #017bab;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: #fff;
}

.formulario input[type="submit"]:hover{
    background: #fff;
    color: #017bab;
    border: solid thin #017bab;
    transition:.2s;
}

.sign-in {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.sign-in.active {
    opacity: 1;
    visibility: visible;
}

.sign-up.active {
    opacity: 0;
    visibility: hidden;
}
